/*
# BestCrewMate: a bot player for the board game The Crew
# Copyright (C) 2021  Kasonnara <bcm@kasonnara.fr>
# GNU General Public License version 3
*/
max-height=100%

body {
	/* Remove the default margin because we use a background and want it to fill the entire view */
    margin: 0;

    height: 100%;
}

.board-area-boundaries {
	background-color: #FFFFFF30;
	border: 4px solid Cornsilk;
	/*border-width: thick;*/
	border-radius: 25px;
	/* margin: 8px */
}

/* Missing Bootstrap classes */
.ml-1 {
  margin-left: .25rem !important;
}
.mr-1 {
  margin-right: .25rem !important;
}
